
@import url("../src/css/button/buttonLogin/access.css");
@import url("../src//css//button/buttonLogin/register.css");
@import url("../src/css/button/buttonHomePage/button.css");
@import url("../src/css/button/buttonHomePage/buttonLogOut.css");
@import url("../src/css/formRegister/formRegister.css");
@import url("../src/css/input/inputLogin.css");
@import url("../src/css/home/GridHome.css");
@import url("../src/css/home/home.css");
@import url("../src/css/contact/contact.css");
@import url("../src//css/profile/myProfile.css");
@import url("../src//css/create/formCreate.css");
@import url("../src/css/edit/edit.css");
@import url("../src/css/details/details.css");
@import url("../src/css/list/list.css");
@import url("../src/css/home/home.css");

.rootL {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.rootHome{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  
  
}

li{
   list-style: none;
}

.input-list {
  appearance: none;      
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background: url("../../shopDonuts/src/assets/bordeStar.png") no-repeat center; 
  background-size: contain;
  border: none;
  outline: none;
  transition: transform 0.2s ease-in-out;
 
}

.input-list:checked {
  background: url("../../shopDonuts/src/assets/star.png") no-repeat center; 
  background-size: contain;
  transform: scale(1.4);
}

.input-like {
  appearance: none;      
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background: url("../../shopDonuts/src/assets/borderHeart.png") no-repeat center; 
  background-size: contain;
  border: none;
  outline: none;
  transition: transform 0.2s ease-in-out;
 
}

.input-like:checked {
  background: url("../../shopDonuts/src/assets/heart-checked.png") no-repeat center; 
  background-size: contain;
  transform: scale(1.4);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: anchor-center;
    max-width: 600px;
    border: 8px solid #49068d;
    border-radius: 28px;
    padding: 80px;
    background: #8c31e7a1;
}

.titleLoginPage{
   font-family: "Frijole";
   font-size: 80px;
   color: #250249;
   
}